<div class="container-fluid" id="adminlogin">
	<div class="col-md-12">
		<div class="jumbotron">
			<h2 class="moveup col-sm-3" style="marginTop:-15px" id="mu">New URL: </h2>
			<button style="marginTop:-15px" ng-click="adminLoginController.addLocation()" type="submit" class="moveup col-sm-1 btn btn-primary btn-large" id="mu">
			<span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"> </span> </button>
		</div>
		
		<div class="darkrow">
			<div class="col-sm-3 ">
				<h3><label for="listing" class="control-label offset2">View by: </label></h3>
			</div>
			<div class="col-sm-5">
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button"
						id="typeMenu" data-toggle="dropdown">
						{{adminLoginController.currentType}} <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li ng-repeat="type in adminLoginController.availableTypes"><a style="cursor: pointer;"
							ng-click="adminLoginController.typeSelected(type)">{{type}}</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div>
			<div class="col-xs-8"><h3><span class="glyphicon glyphicon-globe" aria-hidden="true"> </span>     Locations:</h3></div>
			<div class="col-xs-2"><h3>User Hits:</h3></div>
			<div class="col-xs-2"><h3>Total Hits:</h3></div>
			
			<div class="list-group">
				<div ng-repeat="location in locations">
					<div class="col-xs-8">
						<a class="list-group-item" ng-href="#locations/get/{{location.id}}">
							<span class="glyphicon glyphicon-map-marker" aria-hidden="true"> </span> {{' ' + location.title}}
						</a>
					</div>
					<div class="col-xs-2">
						<p class="list-group-item" >{{location.userHits}}</p>
					</div>
					<div class="col-xs-2">
						<p class="list-group-item" >{{location.totalHits}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>